<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css" />
    <link rel="stylesheet" href="assets/style.css">
    <title>About</title>
</head>

<body>

    <nav class="uk-navbar-container" uk-sticky="top" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav" uk-scrollspy-nav="cls: uk-active; closest: li; scroll: true; offset:200;">
                <li><a href="/"><strong>Lefebvre Wood</strong></a></li>
                <li class="uk-active">
                    <a href="/#about">About</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/about">Company</a></li>
                            <li><a href="#team">Our Team</a></li>
                            <li><a href="#faq">FAQ</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/#shop">Shop</a></li>
                <li><a href="/#blog">Blog</a></li>
                <li><a href="/#social">Social Media</a></li>
                <li><a href="/#locate">Locate Us</a></li>
                <li>
                    <a href="#">Connect</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="#contact">Mailing List</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li><a href="#"><span uk-icon="icon: user"></span></a></li>
                <li><a href="#"><span uk-icon="icon: cart"></span></a></li>
            </ul>

        </div>
    </nav>

    <!-- photobar -->
    <div class="uk-child-width-1-6 uk-grid-small uk-text-center" uk-grid>
        <img class="uk-height-small" src="https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4de02145f4d6671a8771ec7ae742d07e&auto=format&fit=crop&w=1350&q=80"
            alt="">
        <img class="uk-height-small" src="https://images.unsplash.com/photo-1515445946706-a8024608d459?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=476ff52a828a1d3d7703f9249dac3e07&auto=format&fit=crop&w=1350&q=80"
            alt="">
        <img class="uk-height-small" src="https://images.unsplash.com/photo-1528509381049-da52e681a998?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1637763c27dbf5748cbbdfaca8a98d3&auto=format&fit=crop&w=1351&q=80"
            alt="">
        <img class="uk-height-small" src="https://images.unsplash.com/photo-1518710360638-d36af72062d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=491f18f4383aa9ff189ed26674e28c69&auto=format&fit=crop&w=1350&q=80"
            alt="">
        <img class="uk-height-small" src="https://images.unsplash.com/photo-1524098837898-6b1c101a85f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb244e40d62662b07e55c0877beadf1f&auto=format&fit=crop&w=1350&q=80"
            alt="">
        <img class="uk-height-small" src="https://images.unsplash.com/photo-1520932045074-534bdf08bd12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f0a8c2615fa09e1a7293450ff6388adf&auto=format&fit=crop&w=1350&q=80"
            alt="">
    </div>
    <hr class=" uk-divider-icon">

    <div class="uk-container">
        <section class="uk-align-center uk-section-muted uk-text-center" id="about" #about>
            <h2 class="uk-heading-divider">Our Company</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus deserunt quisquam cupiditate
                explicabo dignissimos adipisci, officia ex, nesciunt eaque delectus odio quod, sint iusto neque sit
                nisi architecto ea libero ab eum. Tempore dicta nulla doloremque, consequatur ipsam dignissimos cumque
                tempora nostrum vel labore ratione impedit nesciunt quam, harum fugit illum inventore, eaque
                necessitatibus rerum totam aliquam voluptatem! Porro vero mollitia magni laudantium sit non rem,
                reprehenderit quasi voluptates aspernatur praesentium, quos nobis cumque exercitationem? Alias expedita
                incidunt quibusdam sint cupiditate pariatur, culpa illum? Nisi ratione perferendis quia quas esse
                voluptate eius iusto dignissimos architecto autem voluptatum, mollitia illo! Eveniet vel dicta ipsa
                libero. Officiis quos quisquam, repudiandae reprehenderit minus doloribus suscipit voluptatibus sunt
                cum nostrum adipisci amet, quod quo itaque error in? Recusandae non ullam similique, earum facere
                itaque est tempora aut error nobis optio, perferendis deserunt, dolore officiis amet provident eaque
                enim. Provident nemo accusamus minima natus nesciunt.</p>
        </section>
        <section class="uk-align-center uk-section-muted uk-text-center" id="team" #team>
            <h2 class="uk-heading-divider">Our Team</h2>
            <div class="uk-grid-small uk-child-width-1-3@s uk-flex-center uk-text-center" uk-grid>
                <div class="uk-flex-first">
                    <div>
                        <div class="uk-card uk-card-default">
                            <br>
                            <div class="uk-card-media-top">
                                <img class="uk-border-circle" width="200" height="200" src="assets/mark.jpg">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Mark</h3>
                                <h5 class="sub-title">Owner</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <br>
                            <div class="uk-card-media-top">
                                <img class="uk-border-circle" width="200" height="200" src="assets/amir.jpg">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Amir</h3>
                                <h5 class="sub-title">Craftsman</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <br>
                            <div class="uk-card-media-top">
                                <img class="uk-border-circle" width="200" height="200" src="assets/nathan.jpg">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Nathan</h3>
                                <h5 class="sub-title">Craftsman</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <br>
                            <div class="uk-card-media-top">
                                <img class="uk-border-circle" width="200" height="200" src="assets/nolan.jpg">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Nolan</h3>
                                <h5 class="sub-title">Craftsman</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <br>
                            <div class="uk-card-media-top">
                                <img class="uk-border-circle" width="200" height="200" src="assets/thomas.jpg">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Thomas</h3>
                                <h5 class="sub-title">Design</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <br>
                            <div class="uk-card-media-top">
                                <img class="uk-border-circle" width="200" height="200" src="assets/stef.jpg">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Stef</h3>
                                <h5 class="sub-title">Marketing</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-flex-last">
                    <div>
                        <div class="uk-card uk-card-default">
                            <br>
                            <div class="uk-card-media-top">
                                <img class="uk-border-circle" width="200" height="200" src="assets/joseph.jpg">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Joseph</h3>
                                <h5 class="sub-title">HR</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="uk-align-center uk-section-muted uk-text-center" id="faq" #faq>
            <h2 class="uk-heading-divider">FAQ</h2>

            <div class="uk-card uk-card-body">
                <!-- <h3 class="uk-card-title"></h3> -->
                <h5 class="uk-text-lead">Q: Lorem ipsum dolor sit amet consectetur adipisicing elit?</h5>
                <p><strong>A: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dignissimos
                    nemo neque nesciunt nostrum odio voluptates dolor inventore cum commodi, quibusdam repudiandae
                    blanditiis. Vel assumenda dignissimos ipsa quo distinctio illum amet commodi cum, ab voluptatibus
                    libero optio quia voluptatum maiores autem tempora qui earum consectetur natus hic officia
                    excepturi! Temporibus consequatur culpa magnam blanditiis necessitatibus ducimus corporis nostrum,
                    veritatis doloremque? Maiores quaerat beatae cum consectetur placeat nihil obcaecati. Dolorum sunt
                    dignissimos voluptate, cumque consequuntur quidem exercitationem inventore est non corrupti omnis
                    unde, perspiciatis adipisci molestiae maiores! Eius molestias cupiditate ipsa! Nemo, porro.
                    Molestias, velit! Culpa fuga nam aut nihil totam!</p>
            </div>

            <hr class=" uk-divider-icon">

            <div class="uk-card uk-card-body">
                <!-- <h3 class="uk-card-title"></h3> -->
                <h5 class="uk-text-lead">Q: Lorem ipsum dolor sit amet consectetur adipisicing elit?</h5>
                <p><strong>A: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate assumenda
                    neque mollitia commodi fugiat molestiae nesciunt modi maxime eius minima. Quasi necessitatibus ex
                    error harum dignissimos! Eveniet, dignissimos voluptates animi rerum tempora sit aspernatur, iusto
                    quis eligendi voluptatum aut, distinctio molestias qui nulla dolore laudantium. Doloremque nobis
                    deserunt repellat beatae libero ullam tempore non odio enim assumenda inventore error similique
                    asperiores, nulla dolore ex nostrum quia molestias minima maxime illum.</p>
            </div>

            <hr class=" uk-divider-icon">

            <div class="uk-card uk-card-body">
                <!-- <h3 class="uk-card-title"></h3> -->
                <h5 class="uk-text-lead">Q: Lorem ipsum dolor sit amet consectetur adipisicing elit?</h5>
                <p><strong>A: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae,
                    similique iure rerum dolore sed earum magni? Voluptate architecto, nulla amet nesciunt, similique
                    dignissimos modi ab expedita quod iusto reprehenderit repellat eveniet officiis at. Fugiat
                    voluptates ut ex saepe. Vitae numquam culpa tempora delectus. Expedita, quam ab!</p>
            </div>

            <hr class=" uk-divider-icon">

            <div class="uk-card uk-card-body">
                <!-- <h3 class="uk-card-title"></h3> -->
                <h5 class="uk-text-lead">Q: Lorem ipsum dolor sit amet consectetur adipisicing elit?</h5>
                <p><strong>A: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nam sit commodi
                    dolorem, ullam eius magni quasi maxime omnis a quisquam quibusdam? Minima vel inventore eum ipsum,
                    quos minus repellat omnis dignissimos id. Facere blanditiis, eligendi maiores nam accusamus animi,
                    nesciunt quibusdam architecto, tempora dolorem voluptatem officiis modi facilis rem? Nihil aut odit
                    vitae ut voluptatibus ex molestias dolorum facere necessitatibus, rem sit sunt maxime nesciunt
                    dolorem. Quisquam doloribus harum totam autem eaque maiores sint modi delectus natus cupiditate
                    quam, iste ipsam dicta error distinctio exercitationem, eum dolorum, minus enim! Quam quasi, hic
                    fuga non culpa unde eligendi? Aut dolorum a similique, molestias, accusantium autem sit
                    necessitatibus dolore eum magnam laboriosam qui assumenda. Ullam voluptatum, fugiat explicabo
                    dolores dolor itaque natus vero reiciendis laboriosam quas quae vel, eveniet veniam tempore debitis
                    minima accusantium fuga eius maiores, voluptas ipsum. Tempora ea corrupti repudiandae, sed
                    consequuntur, sunt, culpa labore incidunt assumenda nulla rem molestiae! Minus dolorem magni
                    voluptate ex laboriosam ipsa veniam delectus repellat corporis dolor tenetur porro aspernatur,
                    rerum vitae obcaecati cum fugiat dicta quisquam eveniet aliquam quia impedit! Repellendus tempora
                    architecto, animi quis tempore soluta similique deserunt. Id veniam, veritatis dolorem sint error
                    dolor ullam quas libero temporibus tempora ipsum?</p>
            </div>

            <hr class=" uk-divider-icon">

            <div class="uk-card uk-card-body">
                <!-- <h3 class="uk-card-title"></h3> -->
                <h5 class="uk-text-lead">Q: Lorem ipsum dolor sit amet consectetur adipisicing elit?</h5>
                <p><strong>A: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate adipisci
                    dolorem architecto
                    ratione porro ipsum asperiores tempora sint odit ipsam repudiandae eaque quos voluptas soluta,
                    dolore quo inventore impedit ullam dicta nam assumenda eligendi dignissimos velit consectetur.
                    Aliquid impedit, in iste eius fugiat ut nam perspiciatis cupiditate assumenda. Nesciunt, totam?</p>
            </div>

        </section>
    </div>


    <!-- Footer -->
    <footer uk-sticky="bottom: true">
        <div class="uk-container">
            <div class="uk-child-width-1-2@s uk-grid-small uk-text-center" uk-grid>
                <div class="uk-tile uk-tile-muted">
                    <h5 class="uk-heading-divider uk-text-center">Store Information</h5>
                    <ul class="uk-list uk-text-left">
                        <li><span uk-icon="receiver"></span> (206) 555-5555</li>
                        <li><a href="https://goo.gl/maps/TKV4jjgwVgS2">123 main st. <br> Bellevue, WA</a></li>
                        <li></li>
                        <li>Mon-Fri: 10am-6pm</li>
                        <li>Sat: 12pm-5pm</li>
                    </ul>
                </div>
                <div class="uk-tile uk-tile-muted">
                    <h5 class="uk-heading-divider uk-text-center">Contact</h5>
                    <ul class="uk-list uk-text-left">
                        <li><span uk-icon="receiver"></span> (206) 555-5555</li>
                        <li><a href="#">Returns & Exchanges</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-tile uk-tile-secondary uk-padding-small">
            <p>© Copyright Brenden Dowd 2018</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>
</body>

</html>